# OSX
._*
.env
dist
build
cache
.cache
.vitepress
.temp
*.local
html2md
.DS_Store
.DS_Store?
.Trashes
Icon?
dist-ssr
Thumbs.db
README.md
*/.DS_Store
ehthumbs.db
operation.py
node_modules
.Spotlight-V100
*.code-workspace
/Users/solo/Developer/Projects/Vue-Projects/VitePressVite/README.md